.container{
  margin: 0 auto;
  padding: 0;
  border: 2px solid black;
  width: 500px;
  height: 500px;
  
}
.nav{
  border: 1px solid blue;
  width: inherit;
  height: 40px;
}
.nav, ul, li a{
  display: flex;
  text-decoration: none;
  list-style-type: none;
}
.nav li{
  padding: 2px;
}
.content, .cont1, .cont2{
  display: flex;
  padding: 10px
}
.cont1{
  border: 1px solid red;
  width: 150px;
  height: 80px;
  /* display: inline-block; */
} .cont1-child-1{
  border: 1px solid black;
  width: inherit; height: 80px;
  display: inline;
}
.cont2{
  border: 1px solid red;
  width: 320px;
  height: 80px;
  margin-right: 5px;
  /* display: flex; */
  /* display: inline-block; */
} .cont2-child-1{
  border: 1px solid black;
  width: 130px; height: 80px;
} .cont2-child-2{
  border: 1px solid black;
  width: 130px; height: 80px;
  margin-left: 10px;
}
.section{
  display: flex;
  padding: 10px
}
.sec1,.sec2,.sec3,.sec4,.sec5{
  border: 1px solid green;
  width: 330px;
  height: 40px;
}

.footer{
  border: 2px solid black;
  width: inherit;
  height: 225px;
  margin-left:10px;
  margin-right:10px;
  
}





.container{
  margin: 0 auto;
  padding: 0;
  border: 2px solid black;
  width: 500px;
  height: 500px;
  
}
.nav{
  border: 1px solid blue;
  width: inherit;
  height: 40px;
}
.nav, ul, li a{
  display: flex;
  text-decoration: none;
  list-style-type: none;
}
.nav li{
  padding: 2px;
}
.content, .cont1, .cont2{
  display: flex;
  padding: 10px
}
.cont1{
  border: 1px solid red;
  width: 150px;
  height: 80px;
  /* display: inline-block; */
} .cont1-child-1{
  border: 1px solid black;
  width: inherit; height: 80px;
  display: inline;
}
.cont2{
  border: 1px solid red;
  width: 320px;
  height: 80px;
  margin-right: 5px;
  /* display: flex; */
  /* display: inline-block; */
} .cont2-child-1{
  border: 1px solid black;
  width: 130px; height: 80px;
} .cont2-child-2{
  border: 1px solid black;
  width: 130px; height: 80px;
  margin-left: 10px;
}
.section{
  display: flex;
  padding: 10px
}
.sec1,.sec2,.sec3,.sec4,.sec5{
  border: 1px solid green;
  width: 330px;
  height: 40px;
}

.footer{
  border: 2px solid black;
  width: inherit;
  height: 225px;
  margin-left:10px;
  margin-right:10px;
  
}





